* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(253, 229, 229), #be807a);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.card{
    width: 100%;
    max-width: 420px;
    padding: 30px;
    background: linear-gradient(135deg, rgba(253, 229, 229, 0), #be807a00);
    border-radius: 20px;
    text-align: center;
}
.logo{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
h1{
    color: white;
    margin-bottom: 10px;
}
.bio{
    color: #797878;
    margin-bottom: 25px;
    font-size: 14px;
}
.link{
    display: block;
    width: 100%;
    text-decoration: none;
    background: #805f66;
    color: white;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 16px;
}
.link:hover{
    background:#e7948c;
    color: black;
    transform: scale(1.05);
}
@media (max-width: 480px) {
    .card {
        padding: 20px;
    }
    h1 {
        font-size: 20px;
    }
    .link {
        font-size: 14px;
    }
}